.repInfo h1 {
    color: white;
    background-color: black;
    font-weight: ;
}

.committee-membership h1 {
    color: white;
    text-align: left;
}

body {
    background: orange;
    border: white 2px solid;
    font-family: sans-serif;
}

.photo {
    border: 2px solid white;
    margin-left: 50px;
}

.list_info > li{
    list-style-type: none;
    font-weight: bold;
    padding: 2px 2px;
}

.icon-bar {
    margin-left: 50px;
}